<div class="container-fluid">
	<!-- <img class="dividerline" src="assets/images/sep.png" alt=""> -->
	<div class="heading text-center">
		<h1>Projetos</h1>
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" ng-click="toggle_sort('name')" class="btn btn-default">Ordenar por Nome</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" ng-click="toggle_sort('totalValue')" class="btn btn-default">Ordenar por Valor</button>
			</div>
			<div class="btn-group" role="group">
				<input type="search" name="" ng-model="filtro" placeholder="Procurar" id="input" class="form-control" value="" required="required" title="">
			</div>
		</div>
	</div>

	<div ng-repeat="project in projects | orderBy: ordem: false | filter: filtro" ng-class="{row : ($index+1) % 3 === 0}">
		<div class="col-md-4">
			<div class="papers text-center prjct">
				<a href="" ng-click="openModal('projeto')"><img ng-src={{project.imgUrl}} alt={{project.name}}><br/>
					<h4 class="notopmarg nobotmarg">{{project.name}}</h4>
				</a>
				<p>
					{{project.description}}
				</p>
				<p><b>{{project.colege}}</b></p>
				<div class="panel panel-default">
					<div class="panel-body">
						<b>Valor já arrecadado: R$ {{project.fundedValue}},00</b><progressbar animate="false" class="progress-striped active" type="warning" value="project.fundedValue" max="project.totalValue" type="success"><b>{{(project.fundedValue/project.totalValue*100).toFixed(2)}}{{dynamic}}%</b></progressbar>
						<b>Valor do Projeto: R$ {{project.totalValue}},00</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>